.navbar {
  background-color: #f8c8dc;
  padding: 10px;
  text-align: center;
}

.nav-links li {
  display: inline;
  margin: 0 15px;
}

.about-section {
  padding: 20px;
  font-size: 18px;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}
