.navbar {
  background-color: #f8c8dc;
  padding: 10px;
  text-align: center;
}

.nav-links li {
  display: inline;
  margin: 0 15px;
}

.inline-img img {
  width: 200px;
  margin: 10px;
  transition: transform 0.3s;
}

.inline-img img:hover {
  transform: scale(1.1);
}
